<div class="register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>Welcome</h3>
            <p>You are 30 seconds away from earning your own money!</p>
            <a href="/login" class="btn btn-primary">Login</a><br/>
        </div>
        <div class="col-md-9 register-right">
            <uib-tabset active="activePill" vertical="true" type="pills">
                    <uib-tab index="0" heading="Employee">
                        Content of Employees



                    </uib-tab>
                    <uib-tab index="1" heading="Hirer">

                    Vertical content 2

                    </uib-tab>
                </uib-tabset>

            <div class="tab-content" id="myTabContent"  >
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" >
                    <h3 class="register-heading">Apply as a Employee</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name *" ng-model="first_name" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name *" ng-model="last_name" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password *" ng-model="password" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control"  placeholder="Confirm Password *" ng-model="confirm_password" />
                            </div>
                            <div class="form-group">
                                <div class="maxl">
                                    <label class="radio inline"> 
                                       <input type="radio" name="gender" value="male" checked>
                                        <span> Male </span> 
                                    </label>
                                    <label class="radio inline"> 
                                        <input type="radio" name="gender" value="female">
                                        <span>Female </span> 
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email *" ng-model="email" />
                            </div>
                            <div class="form-group">
                                <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Your Phone *" ng-model="phoneno" />
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option class="hidden"  selected disabled>Please select your Sequrity Question</option>
                                    <option>What is your Birthdate?</option>
                                    <option>What is Your old Phone Number</option>
                                    <option>What is your Pet Name?</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Your Answer *" value="" />
                            </div>
                            <input type="submit" class="btnRegister"  value="Register" ng-click="user.postRegistration()"/>
                            <span>{{error}}</span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="home-tab" ng-show="selected == 2">
                    <h3  class="register-heading">Apply as a Hirer</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name *" value="" ng-model="first_name" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name *" value="" ng-model="last_name"/>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email *" value="" ng-model="email" />
                            </div>
                            <div class="form-group">
                                <input type="text" maxlength="10" minlength="10" class="form-control" placeholder="Phone *" value="" ng-model="phoneno" />
                            </div>
						</div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password *" value="" ng-model="password" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Confirm Password *" value="" ng-model="confirm_password" />
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option class="hidden"  selected disabled>Please select your Sequrity Question</option>
                                    <option>What is your Birthdate?</option>
                                    <option>What is Your old Phone Number</option>
                                    <option>What is your Pet Name?</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Answer *" value="" />
                            </div>
                            <input type="submit" class="btnRegister"  value="Register"ng-click="user.postRegistration()"/>
                            <span>{{error}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>